#contact{
    /* background: url("../images/conUs_back.jpg");
    background-size: cover;
    background-position: center center; */
    margin: 4rem 0px 0px 0px;

}
#contact h2{
    color: whitesmoke;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 3rem;
    padding: 20px;
    background-color: #000000bb;
    border-top: 3px solid rgb(116, 116, 116);
    border-bottom: 3px solid rgb(85, 84, 84);
    position: relative;
    top: 0px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.32);
}
#backimg{
    height: 75vh;
    width: 100vw;
    background: url("../images/conUs_back.jpg");
    background-size: cover;
    background-position: center center;
}
.holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 40%;
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
}
.holder a{
    text-decoration: none;
}
#links{
    display: flex;
    align-items: center;
}
.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
    margin-bottom: 5px;
}

/* Gmail */
#gmail{
    display: flex;
    color: rgb(255, 255, 255);
    /* justify-content: center; */
    align-items: center;
    border-bottom: 3px solid white;
}

.holder img{
    height: 75px;
    margin: 1rem;
    margin-bottom: 0px;
    
}
#gmail img{
    margin-bottom: 1rem;
}
#gmail h3, #gmail h4{
    font-size: 2rem;
    padding: 5px;
    margin: 5px;
    text-align: center;

}
#links a{
    color: white;
}
#links h3{
    margin-top: 5px;
}
#contact .text{
    position: relative;
    top: 41%;
    text-align: center;
    display: block;
    font-family: 'Josefin Sans', sans-serif;
    margin: 5px;
}
@media only screen and (max-width:600px){
    .holder img {
        height: 30px;
        margin: 1rem 0rem;
        margin-bottom: 0px;
    }
    #gmail h3, #gmail h4{
        font-size: 1rem;
    }
    .links{
        margin: 10px;
    
    }
    #gmail h3, #gmail h4{
        margin: 0%;
    }
    #contact .text{
        margin: 10px;
    }
}