#navbar{
    color: white;
    background-color: #7f5a83;
    background-image: linear-gradient(220deg, #67336dd4 0%, #053050c7 74%);

    padding: 10px;
    border-bottom: 5px solid rgb(255, 255, 255);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    position: sticky;
    z-index: 5;
    width: 100%;
    top: 0%;
    
}
#navbar #outerUL{
    display: flex;
    justify-content: space-between;
    padding: 0%;
}

#navbar #innerUL{
    display: flex;
    justify-content: space-around;
    padding: 0%;

}
#navbar ul{
    margin: 0px 10px;
}
#navbar ul .outerli{
    display: flex;
    padding: 10px;
    align-items: center;
}
  
#navbar ul .innerli{
    /* padding: 0px 10px; */
    display: block;
}
#navbar ul a{
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
    border-radius: 5px;
    margin: 0px 5px;

}
#navbar ul a:hover{
    color: rgb(113, 110, 116);
    background-color: aliceblue;    
}

/* LOGO */
#logoli{
    padding: 0%;
    text-decoration: none;
    display: flex;
    align-items: center;
}
#logo{
    height: 50px;
    border-radius: 5px;
    border: 1px solid black;
}

.name{
    font-size: 2rem;
    margin: 10px 20px;
    text-shadow: 4px 4px 9px black;    
}
@media only screen and (max-width:780px){
    #navbar ul .outerli{
        display: none;
    }
    .name{
        margin: 10px;
    }
    #navbar{
        position: static;
    }
}