#skills {
    height: 60vh;
    /* background-color: rgb(53, 53, 53); */
    margin: 2rem 0px;
    font-family: 'Josefin Sans', sans-serif;


}

#skills h2 {
    color: whitesmoke;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 3rem;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    border-top: 3px solid rgb(116, 116, 116);
    border-bottom: 3px solid rgb(85, 84, 84);
    margin-bottom: 20px;
}

#skills .container {
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url("../images/skill.jpg");
    background-size: cover;
    background-position: center center;
    flex-wrap: wrap;
   

}

#skills .skill_br {
    /* border: 2px solid black; */
    height: 30%;
    display: flex;
    align-items: center;
    /* width: 25vw; */
    background-color: #00000087;
    justify-content: flex-start;
    margin: 5px 10px;
    padding: 0px 2rem;
    border-radius: 10px;
}

#skills .skill_br h3 {
    font-size: 2.5rem;
    color: whitesmoke;
    margin-left: 20px;
    word-wrap: none;
    text-overflow: clip;
}

#skills .skill_br img {
    height: 75px;
}

.effect{
    width: 80%;
    -webkit-animation-name: effect;
    animation-name: effect;
    -webkit-animation-duration: 8s;
    animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    overflow: hidden;
    border-right: 1px solid whitesmoke;
/* 
    -webkit-animation-name: bleep;
    animation-name: bleep;
    -webkit-animation-duration: 0.5s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; */

}
/* @-webkit-keyframes bleep{
    0%, 100%{
        border-right: none;
    }
    50%{
        border-right: 1px solid whitesmoke;
    }

}
@keyframes bleep {
    0%, 100%{
        border-right: none;
    }
    50%{
        border-right: 1px solid whitesmoke;
    }
} */
@-webkit-keyframes effect{
    0%, 100%{
        width: 0%;
    }
    50%{
        width: 100%;
    }

}
@keyframes effect{
    0%, 100%{
        width: 0%;
    }
    50%{
        width: 100%;
    }
    12.5%, 25%, 37.5%, 50%, 62.5%, 75%, 87.5%{
        border-right: 1px solid whitesmoke;
    }  
    6.25%, 18.75%, 31.25%, 43.75%, 56.5%, 68.75%, 81.5%, 93.75%{
        border-right: none;
    }
}

@media only screen and (max-width:720px){
    
    #skills{
        height: fit-content;
        margin: 10px 0px;
    }
    
    #skills .skill_br{
        padding: 0px 1rem;
    }
    #skills .skill_br h3{
        padding: 10px 0px;
        font-size: 15px;
    }
    #skills .skill_br img {
        height: 50px;
        margin: 10px 0px;
    }
    
}